@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-main: 5, 7, 6;
    --bg-card: 15, 20, 17;
    --bg-card-hover: 22, 29, 25;
    --text-main: 255, 255, 255;
    --text-offset: 156, 163, 175;
    --border-main: rgba(255, 255, 255, 0.05);
    --bg-offset: rgba(255, 255, 255, 0.03);
}

[data-theme='light'] {
    --bg-main: 245, 247, 246;
    --bg-card: 255, 255, 255;
    --bg-card-hover: 240, 244, 242;
    --text-main: 15, 20, 17;
    --text-offset: 75, 85, 99;
    --border-main: rgba(0, 0, 0, 0.1);
    --bg-offset: rgba(0, 0, 0, 0.05);
}

body {
    color: rgb(var(--text-main));
    background: rgb(var(--bg-main));
    transition: background-color 0.4s ease, color 0.4s ease;
}

/* Premium Industrial Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 166, 81, 0.2);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 166, 81, 0.4);
}

/* Animations Logic */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-in {
    animation-fill-mode: both;
    animation-duration: 0.6s;
}

.fade-in {
    animation-name: fadeIn;
}

.slide-in-from-bottom-4 {
    animation-name: slideUp;
}